<!DOCTYPE html>


<html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PayWall: Pay Your Way</title>
		<meta name="description" content="Payment Freedom">
		<meta name="viewport" content="width=device-width">
		<meta name="og:site_name" content="PAYWALL">
		<meta name="og:title" content="Payment Freedom">
		<meta name="og:url" content="http://spot.com/">
		<meta name="og:description" content="Payment Freedom">
		<meta property="og:image" content="http://spot.com/public/images/logo.png">
		<!-- <meta name="fb:app_id" content="220090911514579"> -->

    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/main.css" type="text/css">
  	<link rel="stylesheet" href="../stylesheets/fonts.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">

		<script language="javascript" type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
		{% for wallet in wallets %}
		{% endfor %}

</body>

</html>